<!DOCTYPE html>
<html lang="en">
  	<head>
		<title>KUS_EngChat</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body class="is-preload">
	<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
						<header id="header">
									<a href="./" class="logo" ><strong>Home</strong></a>
									<ul class="icons">
										<li><a href="./chatbot1" class="logo" ><strong>EngChat1</strong></a>
										<li><a href="./chatbot2" class="logo"><strong>EngChat2</strong></a>
										<li><a href="./chatbot3" class="logo"><strong>EngChat3</strong></a>

									</ul>
								</header>
							<br><h3>챗봇에게 자신의 이름(영어이름)과 학년을 소개하고, 챗봇이 제시하는 친구의 이름을 물어보세요!</h3>
							<section id="chatbot">

								<div class="content">

                            <iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/dd503c14-91b9-4373-9fe1-304010e1933e">
</iframe>

<meta name="viewport" content="width-device-width, initial-scale=1">

								</div>
								<span class="image object">
<!--									<h3>챗봇에게 자신의 이름(영어이름)과 학년을 소개하고, 챗봇이 제시하는 친구의 이름을 물어보세요!</h3>-->
										<img src="../static/images/chat1_pic.png" alt="" />

									</span>
																</section> <br><br><br><br>




								<section>

									<header class="major">
										<h2>제작자 및 제작 의도 & 기대 효과</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon solid fa-robot"></span>

											<div class="content">
												<h3>제작자 및 제작 의도</h3>
												<p>고려대학교 세종캠퍼스 ‘사회혁신CBL2’ 수강생들로 구성된 팀 ‘잉챗’은 ‘영어 의사소통 기회 부족’이라는 우리나라 영어 교육의 한계를 극복하고자 ‘초등 영어 학습을 위한 챗봇 개발’을 주제로 연구를 진행하였습니다. 그 결과물로 학생들이 영어 말하기 연습을 쉽고 재미있게 할 수 있도록 도와주는 챗봇 ‘EngChat’을 제작했습니다.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-lightbulb"></span>
											<div class="content">
												<h3>기대 효과</h3>
												<p>영어 말하기 능력을 향상하고 학습 흥미와 의지를 높여 자기주도적 학습 습관을 형성할 수 있습니다. 또한 영어 교육의 진입장벽을 낮추어 처음 영어를 접하는 학생들도 기초 학습을 수월하게 할 수 있습니다.</p>
											</div>
										</article>
<!--										<article>-->
<!--											<span class="icon solid fa-rocket"></span>-->
<!--											<div class="content">-->
<!--												<h3>Quam lorem ipsum</h3>-->
<!--												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
<!--											</div>-->
<!--										</article>-->
<!--										<article>-->
<!--											<span class="icon solid fa-signal"></span>-->
<!--											<div class="content">-->
<!--												<h3>Sed magna finibus</h3>-->
<!--												<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
<!--											</div>-->
<!--										</article>-->
									</div>
								</section>
						</div>
					</div>
<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
<!--								<section id="search" class="alt">-->
<!--									<form method="post" action="#">-->
<!--										<input type="text" name="query" id="query" placeholder="Search" />-->

<!--									</form>-->
<!--								</section>-->
										<div style="text-align:center">
										<img src="../static/images/chatbot1.png" alt="" width="100" height="100" />
<!--										<h2></h2>-->
<!--										<h2>Englsih </h2>-->
										</div>
							<!-- Menu -->

								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/">Homepage</a></li>
										<li><a href="./chatbot1">Engchat1</a></li>
										<li><a href="./chatbot2">EngChat2</a></li>
										<li><a href="./chatbot3">EngChat3</a></li>
									</ul>
								</nav>



							<!-- Section -->
								<section>
									<header class="major">
										<h2>Characteristics</h2>
									</header>
									<p>고려대학교 세종캠퍼스 사회혁신CBL2 팀 ‘잉챗’이 제작한 초등 영어 학습 챗봇 사이트입니다.</p>
									<ul class="contact">
										<li class="icon solid fa-check">초등학교 3~6학년 대상</li>
										<li class="icon solid fa-check">초등 영어 교육과정 및 교과서 표현 연습</li>
										<li class="icon solid fa-check">설문조사 통해 실제 초등학생 학습 상황 분석 후 맞춤형 제작<br/></li>
										<li class="icon solid fa-check">수준별 대화 주제 선택 가능<br/></li>
										<li class="icon solid fa-check">언제 어디서든 무료로 이용<br/></li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

</body>

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>

<df-messenger
  intent="WELCOME"
  chat-title="도우미"
  agent-id="dd503c14-91b9-4373-9fe1-304010e1933e"
  language-code="en"
  expand="false"
></df-messenger>


</html>
